.header-section {
  padding: 10px var(--side-paddings);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}

.left-section > img{
  width: 100px;
  cursor: pointer;
}

.right-section > img {
  width: 32px;
  object-fit: fill;
  margin: 8px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .right-section,
  .middle-section {
    display: none;
  }

  .header-section {
    justify-content: center;
  }

}

