.last-section-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px var(--side-paddings);
  column-gap: 0px;
  padding-bottom: 300px;
}


.prices {
  padding-right: 60px;
}
.prices-container h1 {
  font-size: 32px;
  color: var(--black);
  padding-top: 10px;
  margin-bottom: 74px;
}


.price {
  background-color: var(--purple);
  padding: 16px 24px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  margin: 20px 20px 20px 0px;
  cursor: pointer;
  transition: box-shadow .15s;
}
.price:hover {
  box-shadow: 0px 0px 4px var(--dark-purple);
}
.price .arrow {
  position: absolute;
  font-size: 48px;
  top: -8px;
  right: 3%;
}
